@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: #2b3252;
  transition: all 0.3s ease-in-out;
}

body {
  background: #dde1e7;
  background-size: cover;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #dde1e7;
  z-index: 15;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2b3252;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

nav {
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
}

ul li {
  padding: 10px;
  color: #2b3252;
  font-weight: bold;
  cursor: pointer;
}

ul li:hover {
  color: rgb(131, 131, 131);
}

.main-screen {
  display: flex;
}

.registration {
  z-index: 10;
  background: #dde1e7;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.svg {
  background-image: url(svgImage.svg);
  background-repeat: no-repeat;
  background-position: right;
  z-index: 10;
  width: 1000px;
  height: 1000px;
  position: fixed;
  right: 0;
  top: 35%;
}

.svg2 {
  background-image: url(svgImage2.svg);
  background-repeat: no-repeat;
  background-position: left;
  z-index: 10;
  width: 1000px;
  height: 1000px;
  position: fixed;
  left: -30%;
  bottom: 10%;
}

.pea {
  width: 250px;
  position: fixed;
  right: 10%;
  bottom: 30%;
  z-index: 13;
  transform: rotate(30deg);
}

.orange {
  width: 150px;
  position: fixed;
  z-index: 13;
  top: 8%;
  right: 35%;
  filter: blur(1px) drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.3));
}

.walnut {
  width: 500px;
  position: fixed;
  z-index: 13;
  left: 0;
  top: 34%;
  filter: blur(2px) drop-shadow(0px 100px 30px rgba(0, 0, 0, 0.3));
}

.reg-screen {
  z-index: 12;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background: #dde1e7;
  border-radius: 5px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.reg-screen h1 {
  padding: 10px;
  text-align: center;
  font-size: 26px;
}

.reg-screen input {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  background: #dde1e7;
  border-radius: 5px;
}

#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-form label,
input,
button {
  margin: 0;
  padding: 10px;
  border: none;
  font-size: 20px;
}

#registration-form button {
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  background: #dde1e7;
  cursor: pointer;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.switch-login {
  text-align: center;
  color: #2b3252;
  cursor: pointer;
  padding: 10px;
}

.login {
  z-index: 9;
  background: #dde1e7;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.log-screen {
  z-index: 12;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background: #dde1e7;
  border-radius: 5px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.log-screen h1 {
  padding: 10px;
  text-align: center;
  font-size: 26px;
}

.log-screen input {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  background: #dde1e7;
  border-radius: 5px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form label,
input,
button {
  margin: 0;
  padding: 10px;
  border: none;
  font-size: 20px;
}

#login-form button {
  margin-bottom: 10px;
  background: #dde1e7;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.switch-signup {
  text-align: center;
  color: #2b3252;
  cursor: pointer;
  padding: 10px;
}

.side-panel {
  display: flex;
  background-color: #dde1e7;
  flex-direction: column;
  width: 20%;
  height: 1000px;
  align-items: center;
  border-radius: 5px;
  margin: 20px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.side-panel h1 {
  font-size: 24px;
  font-weight: 600;
}

.side-panel input {
  width: 80%;
  border-radius: 5px;
  background: none;
  padding: 5px;
  font-size: 16px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.ingredients {
  background: #dde1e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.ingr-item {
  background: #dde1e7;
  width: 90%;
  border-radius: 5px;
  width: 85%;
  margin: 4px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.main-panel {
  width: 80%;
  display: flex;
  background-color: #dde1e7;
  flex-direction: row;
  margin: 20px;
  border-radius: 5px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.main-panel h1 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
}

.construct {
  width: 30%;
}

.recipe-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.recipe-info div {
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.recipe-info h2 {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
  cursor: default;
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 10px;
}

.highlighted-ingredient {
  color: #fff;
  background: #9cd4ac;
  border-radius: 10px;
}

.username {
  color: rgb(115, 84, 239);
}

.ingredients-main {
  background: #dde1e7;
  text-align: center;
  color: #939394;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 100%;
  margin: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.modal-add-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.close-btn {
  background: none;
  cursor: pointer;
  color: #fff;
  transform: rotate(90deg);
  padding: 0;
  letter-spacing: 10px;
  margin: -40px;
}

.modal-add {
  display: none;
  flex-direction: column;
  width: 500px;
  background-color: #dde1e7;
  padding: 20px;
}

.modal-add h1 {
  font-size: 26px;
  padding-left: 30px;
}

.modal-add input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #dde1e7;
  border-radius: 0px 20px 20px 0px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  border: none;
  resize: none;
}

.ingr-field input {
  margin-top: 10px;
}

.ingredient-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ingredient-field {
  flex: 1;
  margin-right: 10px;
}

.remove-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

.add-btn {
  width: 24px;
  height: 24px;
  background: #dde1e7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.add-all-btn {
  background: #9cd4ac;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.modal-add h1,
label {
  margin: 10px;
  margin-left: -10px;
}

#recipe-desc {
  height: 200px;
}

.bottom-window {
  z-index: 11;
  position: absolute;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ef5455;
  bottom: 30px;
  right: 30px;
  border: 1px solid #2b3252;
  border-radius: 5px;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px 1px 1px;
  transition: all 0.5s ease-in-out;
}

.bottom-window p {
  margin: 10px;
  font-size: 20px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-in {
  animation: slideIn 0.3s ease-in-out;
}

.animate-out {
  animation: slideOut 0.3s ease-in-out;
}
