@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #dde1e7;
  z-index: 15;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2b3252;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

input:focus {
  outline: none;
}

.bottom-window {
  z-index: 11;
  position: fixed;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ef5455;
  bottom: 30px;
  right: 30px;
  border: 1px solid #2b3252;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.bottom-window p {
  margin: 20px;
  font-size: 20px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-in {
  animation: slideIn 0.3s ease-in-out;
}

.animate-out {
  animation: slideOut 0.3s ease-in-out;
}

.registration,
.login {
  z-index: 10;
  background: center no-repeat url(forreg.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.registration::before,
.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.reg-screen,
.log-screen {
  z-index: 12;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  background: #232323d2;
  border-radius: 10px;
  color: #fbfeeb;
}

.reg-screen h1,
.log-screen h1 {
  background: #1a1a1a;
  width: 100%;
  text-align: center;
  font-size: 26px;
  padding: 30px 0 30px 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.reg-screen input,
.log-screen input {
  width: 90%;
  background: none;
  border: none;
  border-bottom: 1px solid #fbfeeb;
  color: #fbfeeb;
  font-size: 18px;
  margin-bottom: 20px;
  padding-top: 10px;
}

#registration-form,
#login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-form label,
#login-form label {
  font-size: 18px;
  align-self: flex-start;
  padding-left: 5%;
}

#registration-form button,
#login-form button {
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  background: #dcfe50;
  border: none;
  font-size: 18px;
  color: #1a1a1a;
  cursor: pointer;
  align-self: center;
}

.switch-login,
.switch-signup {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px;
  align-self: center;
  text-decoration: underline;
}

nav {
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfeeb;
  padding: 0 10px 0 20px;
}

.logo {
  font-family: "Righteous", cursive;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style-type: none;
  font-weight: 600;
}

.menu li {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.menu li a:hover {
  color: #787878;
  transition: all 0.5s ease-in-out;
}

.menu li a {
  text-decoration: none;
  color: #1a1a1a;
  transition: all 0.5s ease-in-out;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #1a1a1a;
  margin: 3px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  background-color: #fbfeeb;
  margin: 0;
}

.mobile-menu li {
  margin: 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.mobile-menu li a {
  text-decoration: none;
  color: #1a1a1a;
}

header {
  height: 45px;
  background: #dcfe50;
  display: flex;
  align-items: center;
}

.news {
  background-color: #2b3252;
  color: #fbfeeb;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  margin: 0 20px 0 50px;
}

/* Стилі для мобільних екранів */
@media only screen and (max-width: 767px) {
  .reg-screen,
  .log-screen {
    width: 100%;
    height: 100%;
  }

  .menu {
    display: none;
  }

  .burger {
    display: flex;
  }

  .active {
    display: flex;
    position: absolute;
    right: 0;
  }

  header {
    height: 30px;
  }

  header p {
    font-size: 12px;
  }

  .news {
    margin: 0 20px 0 20px;
    padding: 3px;
    font-size: 12px;
  }

  .link-land {
    width: 50px;
  }

  img {
    width: 50px;
  }
}
